{#- Copyright (c) 2020, Juan Mellado. All rights reserved. Use of this
    source is governed by a MIT-style license found in the LICENSE file. -#}

{% from "./asyncapi/channel.njk" import channelsTemplate -%}
{% from "./asyncapi/info.njk" import contactTemplate, licenseTemplate, termsOfServiceTemplate -%}
{% from "./asyncapi/message.njk" import messagesTemplate -%}
{% from "./asyncapi/security.njk" import securitySchemesTemplate -%}
{% from "./asyncapi/server.njk" import serversTemplate -%}
{% from "./asyncapi/tag.njk" import tagTemplate -%}
{% from "./asyncapi/toc.njk" import tocTemplate -%}

# {{ asyncapi.info().title() }} {{ asyncapi.info().version() }}

{% if asyncapi.info().description() | isDefined -%}
{{ asyncapi.info().description() | safe }}

{% endif -%}
{% if params["tocHeadingLevel"] !== "0" -%}
## Table of Contents

{{ tocTemplate(asyncapi, params) -}}
{% endif -%}
{% set toc = params | toc -%}
{% for section in params["sections"] | chunks -%}
{% if section === "servers" and asyncapi.hasServers() -%}
# {{ "Servers" | heading(toc, 1) }}

{{ serversTemplate(asyncapi.servers(), params["sections.servers"], toc) -}}
{% elif section === "channels" and asyncapi.hasChannels() -%}
# {{ "Channels" | heading(toc, 1) }}

{{ channelsTemplate(asyncapi.channels(), params["sections.channels"], toc) -}}
{% elif section === "messages" and asyncapi.allMessages() | length -%}
# {{ "Messages" | heading(toc, 1) }}

{{ messagesTemplate(asyncapi.allMessages(), params["sections.messages"], toc, asyncapi.defaultContentType(), params["slate.enabled"] === "true") -}}
{% elif section === "security" and asyncapi.hasComponents() and asyncapi.components().securitySchemes() and asyncapi.components().securitySchemes() | length -%}
# {{ "Security" | heading(toc, 1) }}

{{ securitySchemesTemplate(asyncapi.components().securitySchemes(), toc) -}}
{% elif section === "tags" and asyncapi.hasTags() -%}
# {{ "Tags" | heading(toc, 1) }}

{% for tag in asyncapi.tags() -%}
## {{ tag.name() | heading(toc, 2) }}

{{ tagTemplate(tag) -}}
{% endfor -%}
{% elif section === "license" and asyncapi.info().license() -%}
# {{ "License" | heading(toc, 1) }}

{{ licenseTemplate(asyncapi.info().license()) -}}
{% elif section === "termsOfService" and asyncapi.info().termsOfService() | isDefined -%}
# {{ "Terms Of Service" | heading(toc, 1) }}

{{ termsOfServiceTemplate(asyncapi.info().termsOfService()) -}}
{% elif section === "contact" and asyncapi.info().contact() -%}
# {{ "Contact" | heading(toc, 1) }}

{{ contactTemplate(asyncapi.info().contact()) -}}
{% endif -%}
{% endfor -%}

---

{% if asyncapi.id() | isDefined -%}
{{ "Schema Id:" | bold }} {{ asyncapi.id() }}

{% endif -%}
{{ "AsyncAPI" | italic }} {{ asyncapi.version() | italic }}
