{#- Copyright (c) 2020, Juan Mellado. All rights reserved. Use of this
    source is governed by a MIT-style license found in the LICENSE file. -#}

{% from "./schema.njk" import schemaTemplate -%}

{# Server Bindings #}

{% macro serverBindingsTemplate(bindings) -%}
{% for protocol, binding in bindings -%}
{% if protocol === "mqtt" -%}
{{ mqttServerBindingTemplate(binding) -}}
{% else -%}
{{ protocolBindingsTemplate(protocol) -}}
{% endif -%}
{% endfor -%}
{% endmacro -%}

{# Channel Bindings #}

{% macro channelBindingsTemplate(bindings) -%}
{% for protocol, binding in bindings -%}
{% if protocol === "ws" -%}
{{ wsChannelBindingTemplate(binding) -}}
{% elif protocol === "amqp" -%}
{{ amqpChannelBindingTemplate(binding) -}}
{% else -%}
{{ protocolBindingsTemplate(protocol) -}}
{% endif -%}
{% endfor -%}
{% endmacro -%}

{# Operation Bindings #}

{% macro operationBindingsTemplate(bindings) -%}
{% for protocol, binding in bindings -%}
{% if protocol === "http" -%}
{{ httpOperationBindingTemplate(binding) -}}
{% elif protocol === "kafka" -%}
{{ kafkaOperationBindingTemplate(binding) -}}
{% elif protocol === "amqp" -%}
{{ amqpOperationBindingTemplate(binding) -}}
{% elif protocol === "mqtt" -%}
{{ mqttOperationBindingTemplate(binding) -}}
{% else -%}
{{ protocolBindingsTemplate(protocol) -}}
{% endif -%}
{% endfor -%}
{% endmacro -%}

{# Message Bindings #}

{% macro messageBindingsTemplate(bindings) -%}
{% for protocol, binding in bindings -%}
{% if protocol === "http" -%}
{{ httpMessageBindingTemplate(binding) -}}
{% elif protocol === "kafka" -%}
{{ kafkaMessageBindingTemplate(binding) -}}
{% elif protocol === "amqp" -%}
{{ amqpMessageBindingTemplate(binding) -}}
{% elif protocol === "mqtt" -%}
{{ mqttMessageBindingTemplate(binding) -}}
{% else -%}
{{ protocolBindingsTemplate(protocol) -}}
{% endif -%}
{% endfor -%}
{% endmacro -%}

{# Protocol #}

{% macro protocolBindingsTemplate(protocol) -%}
{{ protocolNameTemplate(protocol) }}

{% endmacro -%}

{% macro protocolNameTemplate(protocol) -%}
{% if protocol === "http" -%} {{- "HTTP" -}}
{% elif protocol === "ws" -%} {{- "WebSockets" -}}
{% elif protocol === "kafka" -%} {{- "Kafka" -}}
{% elif protocol === "amqp" -%} {{- "AMQP" -}}
{% elif protocol === "amqp1" -%} {{- "AMQP 1.0" -}}
{% elif protocol === "mqtt" -%} {{- "MQTT" -}}
{% elif protocol === "mqtt5" -%} {{- "MQTT 5" -}}
{% elif protocol === "nats" -%} {{- "NATS" -}}
{% elif protocol === "jms" -%} {{- "JMS" -}}
{% elif protocol === "sns" -%} {{- "SNS" -}}
{% elif protocol === "sqs" -%} {{- "SQS" -}}
{% elif protocol === "stomp" -%} {{- "STOMP" -}}
{% elif protocol === "redis" -%} {{- "Redis" -}}
{% else -%}{{- protocol -}}
{% endif -%}
{% endmacro -%}

{# HTTP #}

{% macro httpOperationBindingTemplate(binding) -%}
HTTP

Parameter|Value
---------|-----
Operation type|{{ binding.type }}
{% if binding.method -%}
HTTP method|{{ binding.method }}
{% endif -%}
{% if binding.bindingVersion -%}
Binding Version|{{ binding.bindingVersion }}
{% endif %}
{% if binding.query -%}
HTTP Query Parameters

{{ schemaTemplate(binding.query | proxy) -}}
{% endif -%}
{% endmacro -%}

{% macro httpMessageBindingTemplate(binding) -%}
HTTP

{% if binding.bindingVersion -%}
Parameter|Value
---------|-----
Binding Version | {{ binding.bindingVersion }}

{% endif -%}
{% if binding.headers -%}
HTTP Headers

{{ schemaTemplate(binding.headers | proxy) -}}
{% endif -%}
{% endmacro -%}

{# WebSockets #}

{% macro wsChannelBindingTemplate(binding) -%}
WebSockets

{% if binding.method or binding.bindingVersion -%}
Parameter|Value
---------|-----
{% if binding.method -%}
HTTP method|{{ binding.method }}
{% endif -%}
{% if binding.bindingVersion -%}
Binding Version|{{ binding.bindingVersion }}
{% endif %}
{% endif -%}
{% if binding.query -%}
HTTP Query Parameters

{{ schemaTemplate(binding.query | proxy) -}}
{% endif -%}
{% if binding.headers -%}
HTTP Headers

{{ schemaTemplate(binding.headers | proxy) -}}
{% endif -%}
{% endmacro -%}

{# Kafka #}

{% macro kafkaOperationBindingTemplate(binding) -%}
Kafka

{% if binding.bindingVersion -%}
Parameter|Value
---------|-----
Binding Version|{{ binding.bindingVersion }}

{% endif -%}
{% if binding.groupId -%}
Consumer Group  Id

{{ schemaTemplate(binding.groupId | proxy) -}}
{% endif -%}
{% if binding.clientId -%}
Consumer Id

{{ schemaTemplate(binding.clientId | proxy) -}}
{% endif -%}
{% endmacro -%}

{% macro kafkaMessageBindingTemplate(binding) -%}
Kafka

{% if binding.bindingVersion -%}
Parameter|Value
---------|-----
Binding Version|{{ binding.bindingVersion }}

{% endif -%}
{% if binding.key -%}
Message Key

{{ schemaTemplate(binding.key | proxy) -}}
{% endif -%}
{% endmacro -%}

{# AMQP #}

{% macro amqpChannelBindingTemplate(binding) -%}
AMQP

{% if binding.is === "routingKey" and binding.exchange -%}
Exchange

Parameter|Value
---------|-----
{% if binding.exchange.name -%}
Name|{{ binding.exchange.name }}
{% endif -%}
{% if binding.exchange.type -%}
Type|{{ binding.exchange.type }}
{% endif -%}
{% if binding.exchange.durable | isDefined -%}
Durable|{{ binding.exchange.durable }}
{% endif -%}
{% if binding.exchange.autoDelete | isDefined -%}
AutoDelete|{{ binding.exchange.autoDelete }}
{% endif -%}
{% if binding.exchange.vhost -%}
Virtual Host|{{ binding.exchange.vhost }}
{% endif -%}
{% if binding.bindingVersion -%}
Binding Version|{{ binding.bindingVersion }}
{% endif %}
{% endif -%}
{% if binding.is === "queue" and binding.queue -%}
Queue

Parameter|Value
---------|-----
{% if binding.queue.name -%}
Name|{{ binding.queue.name }}
{% endif -%}
{% if binding.queue.durable | isDefined -%}
Durable|{{ binding.queue.durable }}
{% endif -%}
{% if binding.queue.exclusive | isDefined -%}
Exclusive|{{ binding.queue.exclusive }}
{% endif -%}
{% if binding.queue.autoDelete | isDefined -%}
AutoDelete|{{ binding.queue.autoDelete }}
{% endif -%}
{% if binding.queue.vhost -%}
Virtual Host|{{ binding.queue.vhost }}
{% endif -%}
{% if binding.bindingVersion -%}
Binding Version|{{ binding.bindingVersion }}
{% endif %}
{% endif -%}
{% endmacro -%}

{% macro amqpOperationBindingTemplate(binding) -%}
AMQP

Parameter|Value
---------|-----
{% if binding.expiration | isDefined -%}
TTL|{{ binding.expiration }}
{% endif -%}
{% if binding.userId -%}
User Id|{{ binding.userId }}
{% endif -%}
{% if binding.cc -%}
CC|{{ binding.cc }}
{% endif -%}
{% if binding.priority | isDefined -%}
Priority|{{ binding.priority }}
{% endif -%}
{% if binding.deliveryMode | isDefined -%}
Delivery mode|{{ binding.deliveryMode }}
{% endif -%}
{% if binding.mandatory | isDefined -%}
Mandatory|{{ binding.mandatory }}
{% endif -%}
{% if binding.bcc -%}
BCC|{{ binding.bcc }}
{% endif -%}
{% if binding.replyTo -%}
Reply To|{{ binding.replyTo }}
{% endif -%}
{% if binding.timestamp | isDefined -%}
Timestamp|{{ binding.timestamp }}
{% endif -%}
{% if binding.ack | isDefined -%}
ACK|{{ binding.ack }}
{% endif -%}
{% if binding.bindingVersion -%}
Binding Version|{{ binding.bindingVersion }}
{% endif %}
{% endmacro -%}

{% macro amqpMessageBindingTemplate(binding) -%}
AMQP

Parameter|Value
---------|-----
{% if binding.contentEncoding -%}
Content Encoding|{{ binding.contentEncoding }}
{% endif -%}
{% if binding.messageType -%}
Message Type|{{ binding.messageType }}
{% endif -%}
{% if binding.bindingVersion -%}
Binding Version|{{ binding.bindingVersion }}
{% endif %}
{% endmacro -%}

{# MQTT #}

{% macro mqttServerBindingTemplate(binding) -%}
MQTT

Parameter|Value
---------|-----
{% if binding.clientId -%}
Client Id|{{ binding.clientId }}
{% endif -%}
{% if binding.cleanSession | isDefined -%}
Persistent connection|{{ binding.cleanSession }}
{% endif -%}
{% if binding.lastWill -%}
{% if binding.lastWill.topic -%}
Last Will and Testament topic|{{ binding.lastWill.topic }}
{% endif -%}
{% if binding.lastWill.qos -%}
Last Will and Testament QoS|{{ binding.lastWill.qos }}
{% endif -%}
{% if binding.lastWill.retain | isDefined -%}
Retain Last Will and Testament messages|{{ binding.lastWill.retain }}
{% endif -%}
{% endif -%}
{% if binding.keepAlive | isDefined -%}
Keep-Alive Interval in seconds|{{ binding.keepAlive }}
{% endif -%}
{% if binding.bindingVersion -%}
Binding Version|{{ binding.bindingVersion }}
{% endif %}
{% endmacro -%}

{% macro mqttOperationBindingTemplate(binding) -%}
MQTT

Parameter|Value
---------|-----
{% if binding.qos | isDefined -%}
QoS|{{ binding.qos }}
{% endif -%}
{% if binding.retain | isDefined -%}
Retain|{{ binding.retain }}
{% endif -%}
{% if binding.bindingVersion -%}
Binding Version|{{ binding.bindingVersion }}
{% endif %}
{% endmacro -%}

{% macro mqttMessageBindingTemplate(binding) -%}
MQTT

{% if binding.bindingVersion -%}
Parameter|Value
---------|-----
Binding Version|{{ binding.bindingVersion }}

{% endif -%}
{% endmacro -%}
