{#- Copyright (c) 2020, Juan Mellado. All rights reserved. Use of this
    source is governed by a MIT-style license found in the LICENSE file. -#}

{% from "./binding.njk" import channelBindingsTemplate, operationBindingsTemplate -%}
{% from "./external-docs.njk" import externalDocsTemplate -%}
{% from "./schema.njk" import schemaTemplate -%}
{% from "./tag.njk" import tagTemplate -%}

{# Channel #}

{% macro channelsTemplate(channels, subsections, toc) -%}
{% for channelName, channel in channels -%}
{{ channelTemplate(channelName, channel, subsections, toc) -}}
{% endfor -%}
{% endmacro -%}

{% macro channelTemplate(channelName, channel, subsections, toc) -%}
## {{ channelName | heading(toc, 2) }}

{% if channel.description() | isDefined -%}
{{ channel.description() | safe }}

{% endif -%}
{% for subsection in subsections | chunks -%}
{% if subsection === "parameters" and channel.hasParameters() -%}
### {{ "Parameters" | heading(toc, 3) }}

{{ parametersChannelTemplate(channel.parameters()) -}}
{% elif subsection === "bindings" and channel.bindings() -%}
### {{ "Bindings" | heading(toc, 3) }}

{{ channelBindingsTemplate(channel.bindings()) -}}
{% elif subsection === "messages" and ((channel.hasSubscribe() and channel.subscribe().messages()) or (channel.hasPublish() and channel.publish().messages())) -%}
### {{ "Messages" | heading(toc, 3) }}

{{ messagesChannelTemplate(channel) -}}
{% elif subsection === "publish" and channel.hasPublish() -%}
### {{ "As Publisher" | heading(toc, 3) }}

{{ operationTemplate(channel.publish(), subsections, toc) -}}
{% elif subsection === "subscribe" and channel.hasSubscribe() -%}
### {{ "As Subscriber" | heading(toc, 3) }}

{{ operationTemplate(channel.subscribe(), subsections, toc) -}}
{% endif -%}
{% endfor -%}
{% endmacro -%}

{# Parameters #}

{% macro parametersChannelTemplate(parameters) -%}
{% set hasSchemas = false -%}
Parameter|Location|Description
---------|--------|-----------
{% for parameterName, parameter in parameters -%}
{{ parameterName | code -}}
|{{ parameter.location() | code if parameter.location() | isDefined -}}
|{{ parameter.description() | safe if parameter.description() | isDefined }}
{% if parameter.schema() -%}
{% set hasSchemas = true -%}
{% endif -%}
{% endfor %}
{% if hasSchemas -%}
{% for parameterName, parameter in parameters -%}
{% if parameter.schema() -%}
{{ parameterName | italic | bold }}

{{ schemaTemplate(parameter.schema()) -}}
{% endif -%}
{% endfor -%}
{% endif -%}
{% endmacro -%}

{# Messages #}

{% macro messagesChannelTemplate(channel) -%}
Operation|Message|Description
---------|-------|-----------
{% if channel.hasSubscribe() and channel.subscribe().messages() -%}
{{ messageChannelTemplate(channel.subscribe()) -}}
{% endif -%}
{% if channel.hasPublish() and channel.publish().messages() -%}
{{ messageChannelTemplate(channel.publish()) -}}
{% endif %}
{% endmacro -%}

{% macro messageChannelTemplate(operation) -%}
{% for message in operation.messages() -%}
{{ operation.kind() | italic -}}
|{% set computedName -%} {{- message.name() if message.name() | isDefined else message.uid() -}} {% endset -%}
{{ computedName | bookmarks("messages", computedName) | reference(computedName) -}}
|{{ message.title() }}
{% endfor -%}
{% endmacro -%}

{# Operation #}

{% macro operationTemplate(operation, subsections, toc) -%}
{% if operation.summary() | isDefined -%}
{{ operation.summary() }}

{% endif -%}
{% if operation.description() | isDefined -%}
{{ operation.description() | safe }}

{% endif -%}
{% if operation.externalDocs() -%}
{{ externalDocsTemplate(operation.externalDocs()) -}}
{% endif -%}
{% if operation.id() | isDefined -%}
{{ "Operation Id:" | bold }} {{ operation.id() }}

{% endif -%}
{% for subsection in subsections | chunks -%}
{% if subsection === "operation.bindings" and operation.bindings() -%}
#### {{ "Bindings" | heading(toc, 4) }}

{{ operationBindingsTemplate(operation.bindings()) -}}
{% elif subsection === "operation.tags" and operation.hasTags() -%}
#### {{ "Tags" | heading(toc, 4) }}

{% for tag in operation.tags() -%}
##### {{ tag.name() | heading(toc, 5) }}

{{ tagTemplate(tag) -}}
{% endfor -%}
{% endif -%}
{% endfor -%}
{% endmacro -%}
