{#- Copyright (c) 2020, Juan Mellado. All rights reserved. Use of this
    source is governed by a MIT-style license found in the LICENSE file. -#}

{# License #}

{% macro licenseTemplate(license) -%}
{{ license.name() | lf }}
{% if license.url() | isDefined -%}
{{ license.url() | link }}
{% endif %}
{% endmacro -%}

{# Terms of Service #}

{% macro termsOfServiceTemplate(termsOfService) -%}
{{ termsOfService | link }}

{% endmacro -%}

{# Contact #}

{% macro contactTemplate(contact) -%}
{% if contact.name() | isDefined -%}
{{ contact.name() | lf }}
{% endif -%}
{% if contact.url() | isDefined -%}
{{ contact.url() | link | lf }}
{% endif -%}
{% if contact.email() | isDefined -%}
{{ contact.email() | email | lf }}
{% endif %}
{% endmacro -%}
