{#- Copyright (c) 2020, Juan Mellado. All rights reserved. Use of this
    source is governed by a MIT-style license found in the LICENSE file. -#}

{% from "./binding.njk" import messageBindingsTemplate -%}
{% from "./external-docs.njk" import externalDocsTemplate -%}
{% from "./schema.njk" import schemaTemplate -%}
{% from "./tag.njk" import tagTemplate -%}

{# Message #}

{% macro messagesTemplate(messages, subsections, toc, defaultContentType, slateEnabled) -%}
{% for messageName, message in messages -%}
{{ messageTemplate(message, subsections, toc, defaultContentType, slateEnabled) -}}
{% endfor -%}
{% endmacro -%}

{% macro messageTemplate(message, subsections, toc, defaultContentType, slateEnabled) -%}
## {{ (message.name() if message.name() | isDefined else message.uid()) | heading(toc, 2) }}

{% if message.title() | isDefined -%}
{{ message.title() }}

{% endif -%}
{% if message.summary() | isDefined -%}
{{ message.summary() }}

{% endif -%}
{% if message.description() | isDefined -%}
{{ message.description() | safe }}

{% endif -%}
{% if message.externalDocs() -%}
{{ externalDocsTemplate(message.externalDocs()) -}}
{% endif -%}
{% for subsection in subsections | chunks -%}
{% if subsection === "payload" and message.payload() -%}
### {{ "Payload" | heading(toc, 3) }}

{{ payloadMessageTemplate(message, defaultContentType, slateEnabled) -}}
{% elif subsection === "headers" and message.headers() -%}
### {{ "Headers" | heading(toc, 3) }}

{{ schemaTemplate(message.headers()) -}}
{% elif subsection === "correlationId" and message.correlationId() -%}
### {{ "Correlation ID" | heading(toc, 3) }}

{{ correlationIdMessageTemplate(message.correlationId()) -}}
{% elif subsection === "bindings" and message.bindings() -%}
### {{ "Bindings" | heading(toc, 3) }}

{{ messageBindingsTemplate(message.bindings()) -}}
{% elif subsection === "tags" and message.hasTags() -%}
### {{ "Tags" | heading(toc, 3) }}

{% for tag in message.tags() -%}
#### {{ tag.name() | heading(toc, 4) }}

{{ tagTemplate(tag) -}}
{% endfor -%}
{% endif -%}
{% endfor -%}
{% endmacro -%}

{# Payload #}

{% macro payloadMessageTemplate(message, defaultContentType, slateEnabled) -%}
{% if message.contentType() | isDefined or defaultContentType | isDefined -%}
{{ "Content Type:" }} {{ message.contentType() | code if message.contentType() | isDefined else defaultContentType | code }}

{% endif -%}
{% if message.schemaFormat() | isDefined and message.schemaFormat() !== "application/schema+json;version=draft-07" -%}
{{ "Schema Format:" }} {{ message.schemaFormat() | code }}

{% endif -%}
{% if message.examples() and slateEnabled -%}
{{ examplesMessageTemplate(message.examples()) -}}
{% endif -%}
{{ schemaTemplate(message.payload()) -}}
{% if message.examples() and not slateEnabled -%}
#### Examples

{{ examplesMessageTemplate(message.examples()) -}}
{% endif -%}
{% endmacro -%}

{# Examples #}

{% macro examplesMessageTemplate(examples) -%}
{% for example in examples -%}
{% set language = example | keys | first -%}
```{{ language }}
{{ example[language] | safe }}
```

{% endfor -%}
{% endmacro -%}

{# Correlation ID #}

{% macro correlationIdMessageTemplate(correlationId) -%}
Location|Description
--------|------------
{{ correlationId.location() | code -}}
|{{ correlationId.description() | safe if correlationId.description() }}

{% endmacro -%}
