{#- Copyright (c) 2020, Juan Mellado. All rights reserved. Use of this
    source is governed by a MIT-style license found in the LICENSE file. -#}

{# Security #}

{% macro securitySchemesTemplate(schemes) -%}
{% for schemeName, scheme in schemes -%}
{{ securitySchemeTemplate(schemeName, scheme) -}}
{% endfor -%}
{% endmacro -%}

{% macro securitySchemeTemplate(schemeName, scheme) -%}
## {{ schemeName | headings(2) }}

{% if scheme.description() | isDefined -%}
{{ scheme.description() | safe }}

{% endif -%}
Parameter|Value
---------|-----
Security scheme|{{ schemeNameTemplate(scheme.type()) | code }}
{% if scheme.in() | isDefined -%}
Location of the API key|{{ scheme.in() | code }}
{% endif -%}
{% if scheme.name() | isDefined -%}
Header, query or cookie parameter name|{{ scheme.name() | code }}
{% endif -%}
{% if scheme.scheme() | isDefined -%}
HTTP Authorization scheme|{{ scheme.scheme() | code }}
{% endif -%}
{% if scheme.bearerFormat() | isDefined -%}
Bearer token format|{{ scheme.bearerFormat() | code }}
{% endif -%}
{% if scheme.openIdConnectUrl() | isDefined -%}
OpenId Connect URL|{{ scheme.openIdConnectUrl() | link }}
{% endif -%}
{% if scheme.flows() -%}
{{ oauthFlowsTemplate(scheme.flows()) -}}
{% endif %}
{% endmacro -%}

{# OAuth Flows #}

{% macro oauthFlowsTemplate(flows) -%}
{% for flowName, flow in flows -%}
{{ oauthFlowTemplate(flowName, flow) -}}
{% endfor -%}
{% endmacro -%}

{% macro oauthFlowTemplate(flowName, flow) %}
{% if flowName === "implicit" -%}
### {{ "OAuth Implicit Flow" | headings(3) }}

{% elif flowName === "password" -%}
### {{ " OAuth Resource Owner Protected Credentials Flow" | headings(3) }}

{% elif flowName === "clientCredentials" -%}
### {{ "OAuth Client Credentials Flow" | headings(3) }}

{% elif flowName === "authorizationCode" -%}
### {{ "OAuth Authorization Code Flow" | headings(3) }}

{% endif -%}
Parameter|Value
---------|-----
{% if flow.authorizationUrl() | isDefined -%}
Authorization URL|{{ flow.authorizationUrl() | link }}
{% endif -%}
{% if flow.tokenUrl() | isDefined -%}
Token URL|{{ flow.tokenUrl() | link }}
{% endif -%}
{% if flow.refreshUrl() | isDefined -%}
Refresh URL|{{ flow.refreshUrl() | link }}
{% endif %}
{{ oauthScopesTemplate(flow.scopes()) -}}
{% endmacro -%}

{# OAuth Scopes #}

{% macro oauthScopesTemplate(scopes) -%}
Scopes

Scope|Description
-----|-----------
{% for scopeName, description in scopes -%}
{{ scopeName | code }}|{{ description }}
{% endfor -%}
{% endmacro -%}

{# Scheme Name #}

{% macro schemeNameTemplate(scheme) -%}
{% if scheme === "userPassword" -%} {{- "User/Password" -}}
{% elif scheme === "apiKey" -%} {{- "API Key" -}}
{% elif scheme === "X509" -%} {{- "X.509 Certificate" -}}
{% elif scheme === "symmetricEncryption" -%} {{- "Symmetric Encryption" -}}
{% elif scheme === "asymmetricEncryption" -%} {{- "Asymmetric Encryption" -}}
{% elif scheme === "httpApiKey" -%} {{- "HTTP API Key" -}}
{% elif scheme === "http" -%} {{- "HTTP" -}}
{% elif scheme === "oauth2" -%} {{- "OAuth 2.0" -}}
{% elif scheme === "openIdConnect" -%} {{- "OpenID" -}}
{% else -%}{{- scheme -}}
{% endif -%}
{% endmacro -%}
