{#- Copyright (c) 2020, Juan Mellado. All rights reserved. Use of this
    source is governed by a MIT-style license found in the LICENSE file. -#}

{% from "./external-docs.njk" import externalDocsTemplate -%}

{# Tag #}

{% macro tagTemplate(tag) -%}
{% if tag.description() | isDefined -%}
{{ tag.description() | safe }}

{% endif -%}
{% if tag.externalDocs() -%}
{{ externalDocsTemplate(tag.externalDocs()) -}}
{% endif -%}
{% endmacro -%}
