{#- Copyright (c) 2020, Juan Mellado. All rights reserved. Use of this
    source is governed by a MIT-style license found in the LICENSE file. -#}

{# Table of Contents #}

{% macro tocTemplate(asyncapi, params) -%}
{% set toc = params | headings -%}
{% for section in params["sections"] | chunks -%}
{{ sectionTocTemplate(asyncapi, params, section) -}}
{% endfor %}
{% endmacro -%}

{% macro sectionTocTemplate(asyncapi, params, section) -%}
{% if section === "servers" and asyncapi.hasServers() -%}
{{ serversTocTemplate(params, asyncapi.servers()) -}}
{% elif section === "channels" and asyncapi.hasChannels() -%}
{{ channelsTocTemplate(params, asyncapi.channels()) -}}
{% elif section === "messages" and asyncapi.allMessages() | length -%}
{{ messagesTocTemplate(params, asyncapi.allMessages()) -}}
{% elif section === "security" and asyncapi.hasComponents() and asyncapi.components().securitySchemes() and asyncapi.components().securitySchemes() | length -%}
{{ securityTocTemplate(params, asyncapi.components().securitySchemes()) -}}
{% elif section === "tags" and asyncapi.hasTags() -%}
{{ tagsTocTemplate(params, asyncapi.tags()) -}}
{% elif section === "license" and asyncapi.info().license() -%}
{{ licenseTocTemplate() -}}
{% elif section === "termsOfService" and asyncapi.info().termsOfService() | isDefined -%}
{{ termsOfServiceTocTemplate() -}}
{% elif section === "contact" and asyncapi.info().contact() -%}
{{ contactTocTemplate() -}}
{% endif -%}
{% endmacro -%}

{% macro serversTocTemplate(params, servers) -%}
{{ "Servers" | headings(1) | reference | listItem(1) }}
{% if params["toc.headingLevel"] === "2" -%}
{% for serverName, server in servers -%}
{{ serverName | headings(2) | reference | listItem(2) }}
{% endfor -%}
{% endif -%}
{% endmacro -%}

{% macro channelsTocTemplate(params, channels) -%}
{{ "Channels" | headings(1) | reference | listItem(1) }}
{% if params["toc.headingLevel"] === "2" -%}
{% for channelName, channel in channels -%}
{{ channelName | headings(2) | reference | listItem(2) }}
{% endfor -%}
{% endif -%}
{% endmacro -%}

{% macro messagesTocTemplate(params, messages) -%}
{{ "Messages" | headings(1) | reference | listItem(1) }}
{% for messageName, message in messages -%}
{% set computedName -%} {{- message.name() if message.name() | isDefined else message.uid() -}} {% endset -%}
{% set subsection = computedName | headings(2) | bookmarks("messages", computedName) -%}
{% if params["toc.headingLevel"] === "2" -%}
{{ subsection | reference | listItem(2) }}
{% endif -%}
{% endfor -%}
{% endmacro -%}

{% macro securityTocTemplate(params, schemes) -%}
{{ "Security" | headings(1) | reference | listItem(1) }}
{% for schemeName, scheme in schemes -%}
{% set subsection = schemeName | headings(2) | bookmarks("security", schemeName) -%}
{% if params["toc.headingLevel"] === "2" -%}
{{ subsection | reference | listItem(2) }}
{% endif -%}
{% endfor -%}
{% endmacro -%}

{% macro tagsTocTemplate(params, tags) -%}
{{ "Tags" | headings(1) | reference | listItem(1) }}
{% if params["toc.headingLevel"] === "2" -%}
{% for tag in tags -%}
{{ tag.name() | headings(2) | reference | listItem(2) }}
{% endfor -%}
{% endif -%}
{% endmacro -%}

{% macro licenseTocTemplate() -%}
{{ "License" | headings(1) | reference | listItem(1) }}
{% endmacro -%}

{% macro termsOfServiceTocTemplate() -%}
{{ "Terms Of Service" | headings(1) | reference | listItem(1) }}
{% endmacro -%}

{% macro contactTocTemplate() -%}
{{ "Contact" | headings(1) | reference | listItem(1) }}
{% endmacro -%}
